$main_color:#C6191E;
$light_color: #ffffff;
$bg_color-dark: #1A1A1A;
$bg_color-light: #424242;
$grey_color:#C8C8C8;
$grey-light_color:#DBDBDB;

$helvetica: "Helvetica", sans-serif;
$golos: "Golos Text", sans-serif;

$br10px: 10px;